那些年，一起不正经的RFC

## [RFC](https://zh.wikipedia.org/wiki/RFC)

**是啥**

征求意见稿（Request for Comments），是由[互联网工程任务组（IETF）](https://zh.wikipedia.org/wiki/%E4%BA%92%E8%81%94%E7%BD%91%E5%B7%A5%E7%A8%8B%E4%BB%BB%E5%8A%A1%E7%BB%84)发布的一系列备忘录。文件收集了有关互联网相关信息，以及互联网社区的软件文件。

**有啥**
* 互联网相关信息
* UNIX和互联网社区的软件文件
* 基本互联网通信协议的详细说明

**咋来的**
* 由个人记录网络开发的文档
* 最终演变为记录互联网规范、协议、过程等的标准文件
* 以编号排定，目前由[互联网协会（ISOC）](https://zh.wikipedia.org/wiki/%E4%BA%92%E8%81%94%E7%BD%91%E5%8D%8F%E4%BC%9A)赞助发行
* 互联网国际标准机构的精分小可爱们还会让这些提案看上去是正式、非虚构的

## 啥是[恶搞RFC](https://zh.wikipedia.org/wiki/%E6%83%A1%E6%90%9ERFC)

* RFC协议里的一批纯属搞笑的创作，通常都在愚人节发表
* 每年的愚人节都会有至少一个搞笑的RFC推出，亦有其他搞笑的RFC文档在愚人节以外的时间发表
* 虽是不严肃不认真不正经的文档，却有自己的制定标准

**有啥好玩儿的**
* [RFC 748](https://tools.ietf.org/html/rfc748)  TELNET RANDOMLY-LOSE option. M.R. Crispin. 1978年        _蛇精病选项_
          实现命令的发送者请求或许可服务器发生随机丢失，仅供TELNET选项中有 RANDOMLY-LOSE 子选项的服务器实现，没有该选项的服务器很可怜的不能随机丢失，默认值为不随机丢失。
* [RFC 1149](https://tools.ietf.org/html/rfc1149) [使用禽鸟的网络协议（IP over Avian Carriers）](https://zh.wikipedia.org/wiki/%E4%BF%A1%E9%B8%BDIP%E9%80%9A%E8%AE%AF) D. Waitzman 1990年 _大脑洞_
        信鸽IP通讯，一个理论上使用信鸽等鸟类传输IP数据的通讯。信鸽可以用一小时跨越约30英里距离传输数10GB的数据，速度比一般的[ADSL](https://zh.wikipedia.org/wiki/ADSL)快很多。即使将存储卡丢失因素也考虑进去，依然不失为一个值得考虑的数据传输方法。该通信协议曾被成功实验，但是9个数据包中只有4个数据包成功传送，丢包率55%（由用户失误造成），响应时间从54分钟到1.77小时不等[1]。因此，该技术的延迟问题严重。但是，该技术可以由数据数据包本身增大而得到大幅改进，如使用信鸽携带大容量存储卡。
          现在的确有不依赖网络数据传输了，大数据将有一段时间跑在公路上，而不是光纤里。
[震惊！亚马逊竟用卡车运送数据？](https://www.sohu.com/a/190579904_757817)
* [RFC 1438](https://tools.ietf.org/html/rfc1438)  互联网工程任务组（IETF）无聊宣言（SOBs） A. Lyman Chapin, C. Huitema. 1993年 _和大家唠唠嗑_
        一篇没有应用意义的陈述，很搞笑的陈述了当前IETF的RFC类型和发布了这样一个搞笑的文档。
* [RFC 2324](https://tools.ietf.org/html/rfc2324) — [超文本咖啡壶控制协议 ](https://zh.wikipedia.org/wiki/%E8%B6%85%E6%96%87%E6%9C%AC%E5%92%96%E5%95%A1%E5%A3%B6%E6%8E%A7%E5%88%B6%E5%8D%8F%E8%AE%AE)（HTCPCP/1.0）. L. Masinter 1998年 _一个用来煮咖啡的协议_
        该协议被设计为一个类似[HTTP](https://zh.wikipedia.org/wiki/%E8%B6%85%E6%96%87%E6%9C%AC%E4%BC%A0%E8%BE%93%E5%8D%8F%E8%AE%AE)的协议，可以用于控制、监测和诊断咖啡壶和茶壶；该协议有时也可以视作一种早期的物联网实验。
          2014年的[RFC 7168](https://tools.ietf.org/html/rfc7168) HTCPCP_TEA将超文本咖啡壶协议扩展为可以泡茶的联网设备。
          [附一个有趣的小文档](http://indust.qiniudn.com/htcpcp/)
* [RFC 2795](https://tools.ietf.org/html/rfc2795) — [无限猴子](https://zh.wikipedia.org/wiki/%E7%84%A1%E9%99%90%E7%8C%B4%E5%AD%90%E5%AE%9A%E7%90%86) 协议组（IMPS） S. Christey 2000年 _假装是个正经协议组_
         这是一个协议套件。它支持无限数量的猴子，它们坐在无限数量的打字机上，以确定它们是什么时候产生了威廉莎士比亚的全部作品或者是一个好的电视节目。该套件包括用于猴子的通信和控制协议，以及它们交互的结构。
* [RFC 5841](https://tools.ietf.org/html/rfc5841) — TCP数据包心情的选项 R. Hay, W. Turkal 2010年 _女人的脸 六月的天 TCP数据包_
         这是一个一个假装正儿八经的文档，描述了一个将比特流拟人化，并表达比特流心情的TCP新选项，有规范（应避免的关键词），语法，心情对应的ASCII码表，用例和各种心情的数据包2333。


